# Python
__pycache__/
*.py[codz]
*$py.class
*.pyc
*.pyo
*.pyd
*.so

# Sanal Ortam (Virtual Environment)
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pixi
__pypackages__/

# Veritabanı Dosyaları
*.db
*.sqlite3
instance/
db.sqlite3
db.sqlite3-journal

# Paketleme ve Dağıtım
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Flask stuff:
.webassets-cache
instance/

# Django stuff:
*.log
local_settings.py

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Editor and IDE-specific files
.spyderproject
.spyproject
.ropeproject
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# İşletim Sistemi dosyaları
.DS_Store
Thumbs.db

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Other tools
.abstra/
.ruff_cache/
.pypirc
.cursorignore
.cursorindexingignore
marimo/_static/
marimo/_lsp/
__marimo__/